/* dashboard header */

.pai-dashboard-header {
    width: 100%;
    height: 80px;
    background-color: #1a2d5d;
}

.pai-dashboard-header a {
    float: right;
    margin-top: 27px;
    margin-right: 30px;
    color: #ffffff;
}

.pai-dashboard-registration-completed {
    max-width: 700px;
    margin: 0 auto;
    margin-top: 50px;
}

.pai-dashboard-registration-completed h1 {
    color: #1d2d5c;
    font-family: "Times New Roman";
    font-weight: bold;
}

.pai-dashboard-registration-completed h2 {
    color: #666666;
    font-size: 21px;
}

/* main content */
.pai-dashboard-container {
    max-width: 1000px;
    margin: 0 auto;
    background-color: #ffffff;
}

.pai-dashboard-container-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 50px;
}

.pai-dashboard-text {
    color: #666666;
    font-size: 13px;
}

.pai-dashboard-text.bold {
    font-weight: bold;
}

.pai-dashboard-text-title {
    color: #666666;
    font-size: 12px;
}

/* left side content */
.pai-dashboard-left-side-container {
    width: 100%;
    max-width: 400px;
    margin-top: 50px;
}

/* Profile */
.pai-dashboard-profile-img-container {
    max-width: 200px;
    margin-bottom: 30px;
    text-align: center;
}

.pai-dashboard-profile-img-container img {
    border-radius: 100px;
}

.pai-dashboard-profile-name {
    color: #1a2d5d;
    font-family: "Times New Roman";
    font-weight: bold;
    font-size: 21px;
}

.pai-dashboard-profile-sep {
    width: 80%;
    margin: 0;
    margin-bottom: 35px;
    background-color: #1a2d5d;
}

/* certificate */
.pai-dashboard-certificate-box {
    display: flex;
    padding: 5px;
    border: 1px solid #666666;
    margin-bottom: 40px;
    color: #666666;
    box-shadow: 0px 0px 2px rgba( 0, 0, 0, 0.0 );
    transition: box-shadow 0.2s ease-in-out;
}

.pai-dashboard-certificate-box:hover {
    box-shadow: 0px 0px 2px rgba( 0, 0, 0, 1.0 );
}

a.pai-dashboard-certificate-box:hover {
    text-decoration: none;
}

.pai-dashboard-certificate-box p {
    display: flex;
    align-self: center;
    margin: 0;
    margin-left: 10px;
}

.pai-dashboard-download-btn {
    display: flex;
    align-self: center;
    font-size: 25px;
    color: #1a2d5d;
}

/* Right side content */
.pai-dashboard-right-side-container {
    max-width: 700px;
    margin-top: 50px;
    margin-left: 40px;
}

/* courses */
.pai-dashboard-course-list {
    padding: 40px;
}

.pai-dashboard-course-list.special {
    border: 2px solid rgba( 102, 102, 102, 0.16 );
    border-radius: 15px;
    box-shadow: 8px 10px 8px 0 rgba( 102, 102, 102, 0.16 );
}

.pai-dashboard-course-group-title {
    margin-bottom: 1rem;
    color: #666666;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
}

.pai-dashboard-course-group-title.red {
    color: #d11242;
}

.pai-dashboard-course-box {
    display: flex;
    border: 1px solid #666666;
    margin-bottom: 10px;
    cursor: pointer;
    box-shadow: 0px 0px 2px rgba( 0, 0, 0, 0.0 );
    transition: box-shadow 0.2s ease-in-out;
}

.pai-dashboard-course-box:hover {
    box-shadow: 0px 0px 2px rgba( 0, 0, 0, 1.0 );
}

.pai-dashboard-course-box p {
    display: flex;
    align-items: center;
    width: 100%;
    margin: 0;
    margin-left: 10px;
}

.pai-dashboard-course-box-btn-container {
    display: flex;
    align-items: center;
    padding: 10px;
}

.pai-dashboard-course-box-btn-container.play {
    border-right: 1px solid #666666;
}

.pai-dashboard-course-box-btn-container.check {
    opacity: 0.15;
}

.pai-dashboard-course-box-btn-container.check.complete {
    opacity: 1.0;
}

.pai-dashboard-course-box-btn-container.check.complete i {
    color: #0596d5;
}

.pai-dashboard-play-btn {
    font-size: 25px;
}

.pai-dashboard-check-btn {
    font-size: 25px;
}

/* Responsiveness */
@media screen and ( max-width: 991px ) {
    .pai-dashboard-left-side-container {
        right: 0;
        margin: 0 auto;
    }

    .pai-dashboard-profile-img-container {
        max-width: none;
    }

    .pai-dashboard-profile-sep {
        width: 100%;
    }
}

@media screen and ( max-width: 767px ) {
    .pai-dashboard-header a {
        margin-right: 10px;
    }

    .pai-dashboard-registration-completed {
        padding: 0 15px;
    }

    .pai-dashboard-registration-completed h1 {
        font-size: 2rem;
    }

    .pai-dashboard-registration-completed h2 {
        font-size: 18px;
    }

    .pai-dashboard-container-content {
        padding: 0;
    }

    .pai-dashboard-left-side-container {
        padding: 0 15px;
    }

    .pai-dashboard-right-side-container {
        margin-top: 0;
        margin-left: 0;
    }

    .pai-dashboard-course-list {
        padding-left: 15px;
        padding-right: 15px;
    }
}
