/* stylesheet for the register page template */

/* Welcome Container */
.pai-welcome-container {
    display: flex;
    flex-direction: column;
    padding: 0 64px;
    margin-top: 50px;
    align-items: center;
}

/* text classes */
.pai-window-title {
    margin-bottom: 50px;
    color: #1d2d5c;
    font-family: "Times New Roman";
    text-align: center;
}

/* btn classes */
.pai-welcome-btn {
    width: 160px;
    margin: 0 20px;
    border-radius: 0;
    background-color: #1f95d3;
    color: #ffffff;
    font-size: 18px;
}

.pai-welcome-btn:hover {
    background-color: #1d2d5c;
    color: #ffffff;
}

@media screen and ( max-width: 531px ) {

    .pai-btn-container {
        display: flex;
        flex-direction: column;
    }

    .pai-welcome-btn {
        margin-left: 0;
        margin-right: 0;
        margin-bottom: 30px;
    }
}
