/* stylesheet for the base page template */

.pai-bg-img {
    background-image: url("https://learnarmor.com/wp-content/uploads/2019/08/PsychArmour-BG-1920x3463-1.jpg");
}

.pai-blue-border {
    min-height: 80px;
    background-color: #1d2d5c;
}

/* Header classes */
.pai-header-template {
    margin-bottom: 10px;
    padding-top: 10px;
}

.pai-header-template img {
    max-width: 300px;
}

.pai-page {
    max-width: 900px;
    margin: 0 auto;
    padding-bottom: 40px;
    background-color: #ffffff;
}

.pai-header-img {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.pai-header-img img {
    max-width: 100%;
    height: auto;
}

/* FOOTER */

.pai-footer-container {
    height: 80px;
}

.pai-footer-icon {
    font-size: 23px;
    margin-right: 10px;
}

ul.pai-footer {
    display: flex;
    align-items: center;
    justify-content: center;
    height: inherit;
    margin: 0;
    padding: 0;
    list-style-type: none;
}

ul.pai-footer li {
    padding: 0 20px;
    color: #ffffff;
    font-size: 14px;
    text-align: center;
}

/* RESPONSIVENESS */
@media screen and ( max-width: 1280px ) {

    .pai-footer-container {
        height: 200px;
    }

    ul.pai-footer {
        flex-direction: column;
        padding: 20px 0;
    }

    ul.pai-footer li {
        margin-bottom: 10px;
    }
}
